<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Servlet Iniciar Sesion</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homepage</servlet-name>
        <servlet-class>Servlets.homePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>perfil</servlet-name>
        <servlet-class>Servlets.perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrar</servlet-name>
        <servlet-class>Servlets.registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarProductos</servlet-name>
        <servlet-class>Servlets.listarProductos</servlet-class>
    </servlet>
      <servlet>
        <servlet-name>producto</servlet-name>
        <servlet-class>Servlets.producto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ordenCompra</servlet-name>
        <servlet-class>Servlets.ordenCompra</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet Iniciar Sesion</servlet-name>
        <url-pattern>/iniciar-sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homepage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/errorPages/404.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>perfil</servlet-name>
        <url-pattern>/perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrar</servlet-name>
        <url-pattern>/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>producto</servlet-name>
        <url-pattern>/producto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ordenCompra</servlet-name>
        <url-pattern>/ordenCompra</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
        <servlet-name>listarProductos</servlet-name>
        <url-pattern>/productos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
